html {
	padding: 10px;
	margin: 0;
	
}

body {
	background: #eceff1;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif !important;
	
}

#frame label {
    display: inline-block;
    width: 49%;
}

.container {
    width: 30%;
    margin-bottom: 32px;
}

h2 {
    background: #A0998D;
    color: white;
	margin: 0 0 15px;
	padding: 5px;
}

.flag {
    width: 43px;
    height: 28px;
    display: inline-block;
    background-size: cover;
    float: right;
}

table tr {
    text-align: left;
}

table {
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    width: 100%;
    display: inline-block;
}

.c_button {
    background: #2bb1e4;
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    margin: 15px 0;
    border-radius: 5px;
    font-size: 20px;
    transition: 200ms;
}

.c_button:hover {
    background: black;
    color: white;
}

table tbody tr:hover  {
    background-color: #373737;
    color: white;
    transition: 100ms;
    cursor: pointer;
}

button {
    background: #2bb1e4;
    color: white;
    border: none;
    margin: 15px 0;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}

.change {
	background: #009688;
}
	
.delete {
	background: #f44336;
}


@media only screen and (min-width: 1100px){
	table {
		display: table;
	}
	#weatherInfo, #myLocation {
		display: inline-block;
		width: 50%;
		vertical-align: top;
	}
}

.modal {
	display: none;
    width: 500px;
    height: 240px;
    background-color: white;
    padding: 15px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.42);
}

#modal_close {
	position: absolute;
	right: 0;
	top: 0px;
	color: black;
	padding: 15px 20px;
	margin: 0;
	cursor: pointer;	
}

h3 {
    margin: 0;
}

.modal-head {
    padding-bottom: 15px;
    border-bottom: 1px solid #d0d0d0;
    margin-bottom: 21px;
    padding-top: 10px;
}



.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  display: none;
  overflow: hidden;
}