html {
	padding: 10px;
	margin: 0;
}

body {
	background: #eceff1;
	padding: 0;
	margin: 0;
}

label {
    display: inline-block;
    width: 49%;
}

.container {
    width: 30%;
    margin-bottom: 32px;
}

h2 {
    background: #A0998D;
    color: white;
	margin: 0 0 15px;
	padding: 5px;
}

.flag {
    width: 43px;
    height: 28px;
    display: inline-block;
    background-size: cover;
    float: right;
}

.flag_nl {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/20/Flag_of_the_Netherlands.svg");
}

table tr {
    text-align: left;
}

table {
    width: 100%;
    margin: 0;
    padding: 0;
}

.c_button {
    background: #2bb1e4;
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    margin: 15px 0;
    border-radius: 5px;
    font-size: 20px;
    transition: 200ms;
}

.c_button:hover {
    background: black;
    color: white;
}

.table tbody tr:hover, #city:hover {
    background-color: #373737;
    color: white;
    transition: 100ms;
    cursor: pointer;
}
